body {
  font-family: "orpheus";
}

.topnav {
  background-color: #C50D1F;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: gray;
  color: white;
}

.topnav a.active {
  background-color: black;
  color: white;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  transition: 1s ease;
}
.card .image {
  height: 225px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card .image img {
  max-width: 100%;
  max-height: 225px;
  width: auto;
  height: auto;
}

.card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

.expandBtn {
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #FCB00D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.expandBtn:active {
  background-color: #C50D1F;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#logo {
  max-height: 195px
}

#slogan {
  margin-bottom: 25px;
}

table, th, td {
  border: 1px solid black
  

}